<div class="container mt-3 d-flex justify-content-between" style="max-width: 600px;">
    <app-add-todo class="flex-fill me-2"></app-add-todo>
    <app-update-todo class="flex-fill ms-2"></app-update-todo>
</div>
<table class="table table-striped border shadow-sm mt-3" style="max-width: 600px; margin: auto;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(todo of todoService.getTodos(); track todo.id) {
        <tr app-todo-item [todo]="todo"></tr>
        }
    </tbody>
</table>