:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  flex: 1;
}

app-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}